name: Android CI

on:
  push:
    tags:
      - "v*"   # Example: v1.0.0
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission
        run: chmod +x gradlew
        working-directory: kslauncher

      - name: Build APK
        run: ./gradlew assembleRelease
        working-directory: kslauncher

      - name: Upload APK to GitHub Releases
        uses: softprops/action-gh-release@v2
        with:
          files: kslauncher/app/build/outputs/apk/release/*.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
